<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">
      

    <div class="about__image">
        <style>
            .divcss-title{font-size:13; font-weight:100; color:#999999}
        </style>
      <img src="/images/profile.jpg" alt="">
      <h6><a class="divcss-title">Prospective Ph.D. Student</a></h6>
      <br/>
      {% include component-socials.html %}
    </div>

    <div class="about__content">
        <style>
            .divcss-blue8{border-bottom:5px solid #4C60E6} 
            .divcss-blue3{border-bottom:2px solid #4C60E6} 
            .divcss-news{color:grey}
            .divcss-link{font-weight:150; color:#4C60E6}
        </style>
     
     <h2 class="title"><span class="divcss-blue8"></span>Hello, I’m Yilin<br/>
      <!--h5 class="subtitle subtitle--light">I love programming, designing, reading, traveling and cooking.
      </h5-->
      <h6>I am a second-year MSc student supervised by <a class="divcss-link"  href="https://ischool.illinois.edu/people/bertram-ludascher">Pro. Bertram Ludäscher</a> 
      and <a class="divcss-link" href="https://sites.google.com/site/matthewturk/">Pro. Matthew J Turk</a>
      in the School of Information Sciences at the University of Illinois at Urbana-Champaign </h6>
      <h6>My research focus is broadly <a>Human-Centered Data Science</a>,<span class="divcss-blue3" ></span> <span class="divcss-blue3"></span> 
      specifically using techniques from <a>Visualization</a> and <a>Data Management</a> to help people better understand and utilize data in the meanwhile ensuring transparency and reproducibility<span class="divcss-blue3"></span>  </h6>
      <h6>Previous projects can be found <a class="divcss-link"  href="/Projects">here</a>! 
      Find my <a class="divcss-link" href="https://drive.google.com/file/d/1JhY5u5fyU3kOHvCybsrmMspjQvDnUYVY/view?usp=sharing">Resume</a> and let us do something fun !</h6>
      <h6>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="https://drive.google.com/file/d/1JhY5u5fyU3kOHvCybsrmMspjQvDnUYVY/view?usp=sharing"><span class="divcss-blue3">More About Me &rarr;</span></a></h6>
    </br></br>
      <h4> <span class="divcss-blue8"></span>Recent News </h4><br/>
      <h5><span class='divcss-news'>Aug 24, 2019</span>&nbsp&nbsp&nbsp Presented a poster "Provenance and Workflow in the Sciences: Looking at a Real-World Example" at 2019 DataONE AHM. </h5><br/>
      <h5><span class='divcss-news'>May 22, 2019</span>&nbsp&nbsp&nbsp Excited to be joining CIRSS and working with Prof. Bertram Ludäscher!</h5><br/>
      <h5><span class='divcss-news'>Sep 01, 2018</span>&nbsp&nbsp&nbsp Started a new dream chasing journey in UIUC. My mentor for the coming semester is Pro. Matthew J Turk.</h5><br/>
      <h6>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/News"><span class="divcss-blue3">All News &rarr;</span></a></h6>
      <!--a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a-->
    <br>
      <!--h4> <span class="divcss-blue8"></span>Current Focus </h4><br/>
     <div class="socials">
        <a href="https://www.dataone.org/" target="_blank">
          <img src="/images/d1-logo.png"  height="100" width="150" alt=""/>
        </a> &emsp;&emsp;&emsp;
        <a href="https://wholetale.org/" target="_blank">
          <img src="/images/whole_tale_logo.png"  height="60" width="60" alt=""/>
        </a> &emsp;&emsp;
        
        <a href="https://data-exp-lab.github.io/" target="_blank">
          <img src="/images/dxl-logo.jpg"  height="60" width="80" alt=""/>
        </a> 
      </div-->


    </div>
  </div>
</section>
